:root {
    --switch-duration: 1.9s;
    --switch-name: scale;
    --switch-ease: cubic-bezier(0.68, 0.05, 0.36, 1);
  }
  
  .-animated {
    --switch-duration: 1.5s;
    --switch-name: scale-fast;
    --switch-ease: cubic-bezier(0.65, -0.05, 0.36, 1);
  }
  
  /* ::view-transition-new(root) {
    -webkit-mask: url(../../assets/images/duck.gif) center/ 0 no-repeat;
    mask: url(../../assets/images/duck.gif) center/ 0 no-repeat;
    animation: var(--switch-name) var(--switch-duration) var(--switch-ease);
  }
  
  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: var(--switch-name) var(--switch-duration) var(--switch-ease);
  } */
  
  @keyframes scale {
    0% {
      -webkit-mask-size: 0;
      mask-size: 0;
    }
    10% {
      -webkit-mask-size: 50vmax;
      mask-size: 50vmax;
    }
    90% {
      -webkit-mask-size: 50vmax;
      mask-size: 50vmax;
    }
    to {
      -webkit-mask-size: 200vmax;
      mask-size: 2000vmax;
    }
  }
  
  @keyframes scale-fast {
      0% {
        -webkit-mask-size: 0;
        mask-size: 0;
      }
      10% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax;
      }
      80% {
        -webkit-mask-size: 50vmax;
        mask-size: 50vmax;
      }
      to {
        -webkit-mask-size: 200vmax;
        mask-size: 2000vmax;
      }
    }
  