@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    max-height: 0;
    margin-top: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 55vh; /* Đủ để chứa nội dung */
    margin-top: 20px;
  }
}

.chat-container .list-msg-container {
  animation: slideDown 0.5s ease-out forwards;
}
/* .chat-container .common-prompts .prompt-item {
  padding: 12px 20px;
  background-color: #ededed;
  border-radius: 32px;
  cursor: pointer;
} */
.chat-container .common-prompts .prompt-item:hover {
  transform: scale(1.1);
  background-color: #dcdcdc;
}
